name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"   # a cada 6 horas
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate snake SVGs
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ArturMoreiraDeCarvalho
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push generated files
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "chore: update snake animation"
          add: "output/*.svg"
